# API URL Configs
NEXT_PUBLIC_API_URL=http://localhost:5000
BACKEND_API_URL=http://localhost:5000

# Better Auth Configurations
BETTER_AUTH_SECRET=your_better_auth_secret_key_32_chars
BETTER_AUTH_URL=http://localhost:3000

# Database URL for Auth tables syncing
DATABASE_URL=postgres://postgres:postgres@localhost:5432/dmhub
